# RapidAPI Configuration
RAPIDAPI_KEY=your_rapidapi_key_here curl --request POST \
	--url https://rto-vehicle-information-india.p.rapidapi.com/getVehicleChallan \
	--header 'Content-Type: application/json' \
	--header 'x-rapidapi-host: rto-vehicle-information-india.p.rapidapi.com' \
	--header 'x-rapidapi-key: 9e90b931e9mshbfd1742e256fe30p1e9cdajsn13d954df9c97' \
	--data '{"vehicle_no":"UP16CD1993","consent":"Y","consent_text":"I hereby give my consent for Eccentric Labs API to fetch my information"}'

# Server Configuration
PORT=3000
NODE_ENV=development
